@font-face {
  font-family: technoboard;
  src: url(./Fonts/TechnoBoard-519Ej.ttf);
}

@font-face {
  font-family: zenbold;
  src: url(./Fonts/ZenKakuGothicNew-Bold.ttf);
}

@font-face {
  font-family: zenblack;
  src: url(./Fonts/ZenKakuGothicNew-Black.ttf);
}

@font-face {
  font-family: bruno;
  src: url(./Fonts/BrunoAceSC-Regular.ttf);
}

body,
html {
  margin: 0;
  /* width: 100vw;
  height: 100%; */
  min-height: 100%;
  box-sizing: border-box;
  /* overflow-x: hidden;
    overflow-y: hidden; */
  background-color: #e6f5f7;
  background-color: #bfc2ba;
  background-color: #999999 !important;
  /* font-family: Roboto, Helvetica, Arial, sans-serif; */
  background-image: url("./Images/bg-big.jpg");
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: #d9d8db !important;
  /* font-family: monospace !important; */
}

a:hover {
  color: #bfc001;
  color: #27ff00;
  color: #ff9800 !important;
  color: #b300f0 !important;
  color: #9200dd !important;
}

/* SCROLLBAR */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #01515b94 #908f90;
}
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #bab9bc;
}

*::-webkit-scrollbar-track:hover {
  background-color: #cacaca;
}

*::-webkit-scrollbar-track:active {
  background-color: #b8c0c2;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
    background-color: #908f90;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #01515b94;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #01515b94;
}
/* end scrollbar */

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* gap: 2rem; */
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  /* min-height: calc(100vh - 127px); */
  min-height: calc(100vh);
}

.navbarcustom {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 0px 12px;
  margin: 15px 20px 20px 20px;
  /* background-color: #eee; */
  max-width: 1200px;
  height: 53px;
  margin-left: auto;
  margin-right: auto;
  font-family: "PT Sans Narrow", sans-serif;
  font-family: technoboard;
  /* font-size: 19px !important; */
  /* border-bottom: 4px solid yellow; */
  /* border-radius: 12px; */
  /* background-color: #c0c0c021 !important; */
  /* box-shadow: 0px 8px 30px -4px rgba(230, 230, 230, 0.79) !important; */
  /* -webkit-box-shadow: 2px 6px 0px 3px rgba(230, 230, 230, 0.79); */
  -moz-box-shadow: 2px 6px 0px 3px rgba(230, 230, 230, 0.79);
  border-bottom: 3px solid #d8de0d;
  border-radius: 12px;
  /* background-color: #1c230f30 !important; */
  /* box-shadow: 0px 8px 30px -4px rgba(230, 230, 230, 0.79) !important; */
  /* -webkit-box-shadow: 2px 6px 0px 3px rgba(230, 230, 230, 0.79); */
  -moz-box-shadow: 2px 6px 0px 3px rgba(230, 230, 230, 0.79);
  box-shadow: 0px 0px 4px 0px rgb(255 255 0 / 85%),
    0px 1px 30px -1px rgba(230, 230, 230, 0.79),
    inset 0px -4px 15px 2px rgba(230, 230, 230, 0.25);
  -webkit-box-shadow: 0px 0px 4px 0px rgb(255 255 0 / 85%),
    0px 1px 30px -1px rgba(230, 230, 230, 0.79),
    inset 0px -4px 15px 2px rgba(230, 230, 230, 0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgb(255 255 0 / 85%),
    0px 1px 30px -1px rgba(230, 230, 230, 0.79),
    inset 0px -4px 15px 2px rgba(230, 230, 230, 0.25);
  align-items: center;
  width: 1240px;
  border-top-left-radius: 10px 60px;
  border-top-right-radius: 10px 60px;
}

.navbarcustom a {
  text-decoration: none;
  padding: 20px;
  /* font-weight: 600; */
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  color: #206ec7;
  color: #262622;
  font-family: technoboard;
  color: #f3f400;
  /* text-transform: uppercase; */
  font-family: bruno;
  font-weight: 600;
}

.formcontainer {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  font-weight: 900;
  color: chartreuse;
  color: #d9d8db;
  padding: 20px;
  border-bottom: 4px solid #caca02;
  border-radius: 12px;
  background-color: #00000063 !important;
  box-shadow: 0px 8px 30px -4px rgba(230, 230, 230, 0.79) !important;
  -webkit-box-shadow: 2px 6px 0px 3px rgba(230, 230, 230, 0.79);
  -moz-box-shadow: 2px 6px 0px 3px rgba(230, 230, 230, 0.79);
  /* font-family: zenblack; */
  /* font-size: 16px; */
}

.formcontainer h1 {
  margin-bottom: 25px;
  font-family: "technoboard";
  /* margin-top: 10px; */
  /* filter: drop-shadow(0 0 15px yellow) drop-shadow(0 0 5px yellow) contrast(1) brightness(1); */
  color: #d9d8dbe0;
}

.formcontainer a {
  color: #edee02;
}

.form {
  /* max-width: 300px; */
  text-align: center;
  margin-top: 20px;
  /* background-color: #ffffff89; */
  padding: 25px 40px;
  padding: 40px 50px;
  padding-top: 50px;
  box-shadow: 0px 0px 4px 0px rgb(255 255 0 / 85%);
  -webkit-box-shadow: 0px 0px 4px 0px rgb(255 255 0 / 85%);
  -moz-box-shadow: 0px 0px 4px 0px rgb(255 255 0 / 85%);
  border-radius: 4px;
}

.form h1 {
  margin-bottom: 45px;
}

input {
  min-width: 300px !important;
  min-height: 45px !important;
  border: none !important;
  border-radius: 4px !important;
  border: solid 1px #ffffff2e !important;
  /* border: solid 1px #6d7117 !important; */
}

input:focus-visible {
  outline-color: #b1b205;
  outline-offset: inherit;
  outline-style: solid;
  outline-width: thin;
  border: solid 1px #b1b205;
}

input[type="checkbox"] {
  min-width: inherit;
  min-height: inherit;
  margin: 5px;
}

input[type="text" i] {
  padding-left: 10px;
  background-color: #0b0b0b70;
  color: #c9c9c9;
}

input[type="password" i] {
  padding-left: 10px;
  background-color: #0b0b0b70;
  color: #c9c9c9;
}

a#checkmark {
  color: #f6f6f6;
  text-decoration: none;
}

.form button {
  padding: 6px 5px;
  cursor: pointer;
  background: none;
  color: #db3eb1;
  /* border: 6px solid #db3eb1; */
  border-radius: 100px;
  padding: 12px 18px;
  font-size: 20px;
  font-family: tahoma;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px yellow) drop-shadow(0 0 2px yellow) contrast(2)
    brightness(2);
  position: relative;
  overflow: hidden;
  /* border: 2px solid yellow; */
  /* border-bottom: 4px solid yellow; */
  font-family: "bruno";
  background-color: #00000080;
  margin: 30px auto;
}

.form button:hover {
    filter: drop-shadow(0 0 15px yellow) drop-shadow(0 0 2px yellow) contrast(2.3) brightness(2.3);
    border: 2px solid #d8de0d;
}

.form button span {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-weight: 600;
  color: #303030;
}

.introcontainer {
  max-width: 615px;
  text-align: left;
  margin-top: 20px;
  font-weight: 900;
  color: #10cfe6;
  padding: 20px;
  border-bottom: 4px solid #10cfe6;
  border-radius: 12px;
  background-color: #48484830 !important;
  box-shadow: 0px 8px 30px -4px rgba(230, 230, 230, 0.79) !important;
  -webkit-box-shadow: 2px 6px 0px 3px rgba(230, 230, 230, 0.79);
  -moz-box-shadow: 2px 6px 0px 3px rgba(230, 230, 230, 0.79);
  font-family: zenblack;
  font-size: 20px;
  text-shadow: 0px 0px 15px #10cfe6;
  font-family: monospace;
}

#introhanai {
  float: right;
    height: 131px;
    /* width: 110px; */
    margin: 18px;
    margin-right: 3px;
    margin-top: 3px;
    /* border-bottom: 2px solid #f5f600b8; */
    border-radius: 8px;
    padding: 10px 16px 1px 21px;
    /* padding-bottom: 1px; */
    /* box-shadow: 1px 1px 1px 1px blueviolet; */
    /* box-shadow: inset 0px -5px 3px 5px blueviolet; */
    /* background-color: hsla(220,1%,55%,0); */
    /* border: 1px solid #d9d8db00; */
    /* border-bottom: 2px solid #d9d8dbbd; */
    border-radius: 50px;
    /* box-shadow: inset 0 -56px 19px -44px #d9d8dbc2; */
    /* border-bottom: 27px solid #10cfe6; */
    border-radius: 58px;
    /* background-color: #48484829 !important; */
    box-shadow: -2px 4px 30px -4px rgb(230 230 230 / 46%) !important;
    -webkit-box-shadow: -2px 4px 30px -4px rgb(230 230 230 / 46%) !important;
    -moz-box-shadow: -2px 4px 30px -4px rgb(230 230 230 / 46%) !important;
}

#introbtn {
  background: none;
  /* font-family: 'zenblack';
    text-transform: uppercase;
    color: deeppink;
    font-size: 25px;
    font-weight: 900;
    padding: 20px;
    background-color: #5c5c5c4a;
    border-radius: 12px;
    box-shadow: 0px 8px 30px -4px rgba(230,230,230,0.79) !important;
    -webkit-box-shadow: 2px 6px 0px 3px rgba(230,230,230,0.79);
    -moz-box-shadow: 2px 6px 0px 3px rgba(230,230,230,0.79);
    border-bottom: 4px solid deeppink; */
  color: #db3eb1;
  border: 6px solid #db3eb1;
  border-radius: 15px;
  padding: 15px 25px;
  font-size: 30px;
  font-family: tahoma;
  letter-spacing: 5px;
  cursor: pointer;
  font-weight: bold;
  filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1)
    contrast(2) brightness(2);
  position: relative;
  overflow: hidden;
  border: 2px solid #db3eb1;
  border-bottom: 4px solid #db3eb1;
  font-family: "bruno";
}

/* #introbtn:hover {
  color: black;
  background-color: #db3eb1;
  filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
} */

#introbtn::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(
    to bottom,
    rgba(230, 175, 145, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(229, 172, 142, 0)
  );
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

#introbtn:hover::after,
button:focus::after {
  animation: sheen 1.5s forwards;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

/* HANGMAN PAGE */

/* Additional styles for the Hall Of Fame page */
.figure-body {
  background-image: url("./Images/word-bg.jpg");
  background-color: #999999 !important;
  background-size: cover;
  background-position: top center;
  background-blend-mode: multiply;
  background-blend-mode: overlay;
  background-blend-mode: normal;
  background-blend-mode: color-burn;
}

.figurecontainer {
  width: 500px;
  height: 500px;
  background-color: rgb(138 139 141 / 0%);
  position: relative;
  border-bottom: 4px solid #d9d8dbbd;
  border-radius: 90px;
  /* box-shadow: inset 0 0 8px #434343, 0 1px 0 #383838, 0 4px 0 #171717, 0 10px 30px #111; */
  /* box-shadow: 0 4px 12px 0 rgb(196 196 196 / 71%), 0 2px 4px rgb(147 147 147 / 89%); */
  /* -webkit-box-shadow: inset 0px -4px 8px -2px #000000; */
  box-shadow: inset 0px -80px 32px -34px #d9d8db91;
}

.figurescreen {
  background-color: #dcdcdc47;
  /* max-width: 540px; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10vh; */
  /* font-weight: 900; */
  color: #d9d8db;
  padding: 8px;
  border: 1px solid rgb(217 216 219 / 50%);
  border-radius: 5px;
  background-color: #00000063 !important;
  box-shadow: 0px 0px 2px 2px rgb(217 216 219) !important;
  -webkit-box-shadow: 0px 0px 2px 2px rgb(217 216 219);
  -moz-box-shadow: 0px 0px 2px 2px rgb(217 216 219);
  width: 418px;
  height: 262px;
}

.figurescreeninner {
  padding: 5px 5px;
  box-shadow: 0px 0px 8px 0px #d9d8db;
  -webkit-box-shadow: 0px 0px 8px 0px #d9d8db;
  -moz-box-shadow: 0px 0px 8px 0px #d9d8db;
  border-radius: 2px;
  height: 242px;
  background-color: #393939f0 !important;
  /* font-family: Roboto, Helvetica, Arial, sans-serif; */
  /* background-image: url("./Images/painting.webp"); */
  background-size: cover;
  background-position: center center;
  color: #d9d8db !important;
  background-size: 245px 245px;
  background-repeat: no-repeat;
}

.figureartsy {
  position: absolute;
  bottom: 0px;
  left: 8%;
}

/* .keyboardcontainer {
  position: relative;
  margin: 10px auto;
  background: #2c2e34;
  -moz-border-radius-topleft: 7px 21px;
  -moz-border-radius-topright: 7px 21px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 12px 21px;
  border-top-right-radius: 12px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 12px 10px 10px 20px;
  box-shadow: inset 0 0 8px #434343, 0 1px 0 #383838, 0 4px 0 #171717,
    0 10px 30px #111;
  max-width: 900px;
} */

.keyboardcontainer {
  position: relative;
  margin: 10px auto;
  background: #2c2e34;
  -moz-border-radius-topleft: 7px 21px;
  -moz-border-radius-topright: 7px 21px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 12px 21px;
  border-top-right-radius: 12px 21px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 12px 10px 10px 20px;
  box-shadow: inset 0 0 8px #434343, 0 1px 0 #383838, 0 4px 0 #171717,
    0 10px 30px #111;
  max-width: 900px;
  height: 158px;
  perspective: 1000px;
}

.keyboardcontainer-inner {
  position: relative;
  /* width: 100%;
  height: 100%; */
  transform-style: preserve-3d;
  transition: transform 0.6s;
  margin: 67px auto;
}

.keyboard-front,
.keyboard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.keyboard-front {
  background-color: #2c2e34;
  border-radius: 12px 21px 10px 10px;
  box-shadow: inset 0 0 8px #434343, 0 1px 0 #383838, 0 4px 0 #171717, 0 10px 30px #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.keyboard-back {
  background-color: #2c2e34;
    border-radius: 12px 21px 10px 10px;
    box-shadow: inset 0 0 8px #434343, 0 1px 0 #383838, 0 4px 0 #171717, 0 10px 30px #111;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.keyboardcontainer.flipped {
height: 120px;
    /* background: #2c2e3466; */
    width: 75%;
    background: none;
    box-shadow: none;
}


.keyboardcontainer.flipped .keyboardcontainer-inner {
  transform: rotateY(180deg);
  
}

.keyboardronny {
  position: absolute;
  bottom: 62px;
  right: -5%;
}

.keyboardhints {
  padding-bottom: 12px;
  text-align: left;
}

.keyboardhints button {
  border: 1px solid #93939333;
  background: none;
  font-size: 13px;
  text-transform: uppercase;
  padding: 5px 12px 4px 12px;
  font-weight: bold;
  cursor: pointer;
  color: #d0d2d5;
  border-radius: 4px;
  box-shadow: 0 0px 5px 0px #edee02ab;
  box-shadow: 0 0px 5px 0px #00ffea;
  font-family: "bruno";
  letter-spacing: 2px;
}

.keyboardhints button:hover,
.keyboardhints button:focus {
  color: #11b4ad;
}

#hint1 {
  margin-left: 88px;
  margin-right: 10px;
}

#hint2 {
  margin-left: 5px;
  margin-right: 290px;
}

#hint1:disabled, #hint2:disabled {
  cursor: default;
  opacity: 0.6;
  color: #d0d2d5;
}

/* .keyboardhints button:hover:disabled {
  color: #d0d2d5;
  opacity: 0.6;
} */

.keyboardreplay {
  text-align: left;
    margin-bottom: 34px;
}

.keyboardreplay button {
  border: 1px solid #93939333;
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: #d0d2d5;
    font-family: "bruno";
    letter-spacing: 2px;
    font-size: 14px;
    border-top-left-radius: 12px 80px;
    border-top-right-radius: 12px 80px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgb(16 207 230 / 99%), inset 0px 0px 33px 10px #d9d8db24;
    -webkit-box-shadow: 0px 0px 10px 0px rgb(16 207 230 / 99%), inset 0px 0px 33px 10px #d9d8db24;
    -moz-box-shadow: 0px 0px 8px 0px rgb(16 207 230 / 99%), inset 0px 0px 119px 41px #d9d8db24;
}

.keyboardreplay button:hover,
.keyboardreplay button:focus {
  color: #95DEE9;
  box-shadow: 0px 0px 10px 0px #10cfe6fc, inset 0px 0px 14px 27px #d9d8db1a;
    
    -webkit-box-shadow: 0px 0px 10px 0px #10cfe6fc, inset 0px 0px 14px 27px #d9d8db1a;
    -moz-box-shadow: 0px 0px 10px 0px #10cfe6fc, inset 0px 0px 14px 27px #d9d8db1a;
}

#playagain {
  padding: 19px 69px;
    margin: 50px;
    font-size: 14px;
    border-top-left-radius: 12px 80px;
    border-top-right-radius: 12px 80px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#checkscore {
  padding: 19px 18px;
    margin: 50px;
    font-size: 14px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 12px 80px;
    border-bottom-left-radius: 12px 80px;
}

.keyboardbtn {
  border: 1px solid #93939333;
  background: none;
  /* aspect-ratio: 1 / 1; */
  font-size: 1rem;
  text-transform: uppercase;
  padding: 7px 0px;
  font-weight: bold;
  cursor: pointer;
  color: #c2c2c2;
  width: 55px;
  border-radius: 4px;
  box-shadow: 0 0px 4px 0px;
  font-family: "bruno";
}

.keyboardbtn.active {
  background-color: rgb(22 142 27);
  color: white;
}

.keyboardbtn.inactive {
  opacity: 0.3;
}

.keyboardbtn:disabled {
  cursor: initial;
  /* opacity: .8; */
}

.keyboardbtn.active:disabled {
  background-color: rgb(22 142 27);
  color: #dce0e4;
  opacity: 0.8;
  background-color: #bd1b6d;
}

.keyboardbtn:hover:not(:disabled),
.keyboardbtn:focus:not(:disabled) {
  background-color: #0e9088;
}

.footer {
  /* background-color: #262622; */
  width: 100%;
  height: 80px;
  margin-top: 47px;
  color: #f7fff2;
  font-weight: bold;
}

main {
  display: block;
  box-sizing: border-box;
  width: auto;
  padding: 1em 2vw;
  margin: 1em 2vw;
  color: #000;
  background-color: rgba(204, 204, 204, 0.7);
  border: 0.07em solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
}

caption {
  text-align: left;
  font-style: italic;
  padding: 0.25em 0.5em 0.5em 0.5em;
}

th,
td {
  padding: 0.25em 0.5em 0.25em 1em;
  vertical-align: text-top;
  text-align: left;
  text-indent: -0.5em;
}

th {
  vertical-align: bottom;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
}

td::before {
  display: none;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.25);
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.5);
}

td:nth-of-type(1),
td:nth-of-type(1) {
  text-align: right;
  padding-left: 180px;
}

td:nth-of-type(2),
td:nth-of-type(2) {
  width: 480px;
  text-align: center;
}

th:nth-of-type(3),
td:nth-of-type(3) {
  text-align: right;
  text-align: left;
  padding-right: 40px;
}

/* div {
  overflow: auto;
}

@media screen and (max-width: 37em), print and (max-width: 5in) {
  table,
  tr,
  td {
    display: block;
  }
  tr {
    padding: 0.7em 2vw;
  }
  th,
  tr:first-of-type {
    display: none;
  }
  td::before {
    display: inline;
    font-weight: bold;
  }
  td {
    display: grid;
    grid-template-columns: 4em auto;
    grid-gap: 1em 0.5em;
  }
  caption {
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.35);
    color: #fff;
    font-weight: bold;
  }
  td:nth-of-type(3) {
    text-align: left;
  }
  td:nth-of-type(4), td:nth-of-type(5) {
    text-align: right;
    width: 12em;
  }
  td:nth-of-type(4)::before, td:nth-of-type(5)::before {
    text-align: left;
  }
  td:nth-of-type(2)::before {
    font-style: normal;
  }
}

@media print {
  body {
    font-size: 6pt;
    color: #000;
    background-color: #fff;
    background-image: none;
  }
  body,
  main {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
  }
  table {
    page-break-inside: avoid;
  }
  div {
    overflow: visible;
  }
  th {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }
  tr {
    border-top: 1pt solid #000;
  }
}

@media print and (max-width: 5in) {
  caption {
    color: #000;
    background-color: #fff;
    border-bottom: 1pt solid #000;
  }
  table {
    page-break-inside: auto;
  }
  tr {
    page-break-inside: avoid;
  }
} */

.wordfactscontainer {
  background-color: #dcdcdc47;
  /* max-width: 540px; */
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 10vh; */
  /* font-weight: 900; */
  color: chartreuse;
  color: #d9d8db;
  padding: 8px;
  border: 1px solid rgb(16 207 230 / 50%);
  border-radius: 5px;
  background-color: #00000063 !important;
  box-shadow: 0px 0px 2px 2px rgb(16 207 230) !important;
  -webkit-box-shadow: 0px 0px 2px 2px rgb(16 207 230);
  -moz-box-shadow: 0px 0px 2px 2px rgb(16 207 230);
  /* min-height: 500px; */
  /* max-width: 500px; */
  width: 500px;
  height: 500px;
}

.wordfactscontainerinner {
  padding: 11px 12px 5px 15px;
  box-shadow: 0px 0px 8px 0px rgb(16 207 230 / 99%),
    inset 0px 0px 119px 41px #d9d8db2e;
  -webkit-box-shadow: 0px 0px 8px 0px rgb(16 207 230),
    inset 0px 0px 119px 41px #d9d8db2e;
  -moz-box-shadow: 0px 0px 8px 0px rgb(16 207 230 / 99%),
    inset 0px 0px 119px 41px #d9d8db2e;
  border-radius: 2px;
  /* min-height: 490px; */
  height: 480px;
  overflow: auto;
  text-align: left;
  font-family: monospace;
  line-height: 23px;
}

.wordfactscontainerinner h4 {
  font-family: "technoboard";
  text-align: center;
}

.wordfactscontainerinner p {
  margin-bottom: 0.85rem;
}

/* Additional styles for the Hall Of Fame page */
.hall-of-fame-body {
  background-image: url("./Images/hall-bg.jpg");
  background-color: #999999 !important;
  background-size: cover;
  background-position: top center;
  background-blend-mode: multiply;
}

.hallcontainer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  font-weight: 900;
  color: #d9d8db;
  padding: 20px;
  font-family: "bruno";
}

.hallcontainer h1 {
  font-family: "bruno";
  filter: drop-shadow(0 0 15px yellow) drop-shadow(0 0 2px yellow) contrast(2)
    brightness(2);
  font-size: 3rem;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  background: none !important;
}

th {
  color: #db3eb1;
}

tr:nth-child(even) {
  color: #edee02;
}

tr:nth-child(odd) {
  /* background: none; */
  color: #10cfe6;
}


